img {
    margin-bottom: 15px;
}

input {
    text-align: center;
    font-size: 22px;
    color: white;
    background: transparent;
    border-width: 0;
}

input::placeholder {
    text-align: center;
}